@model IEnumerable<lab_1_asp_net.Models.Movie>

<h2>Фільми</h2>

<p>
    <a asp-action="CreateMovie">Додати новий фільм</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Name</td>
                <td>@movie.Description</td>
                <td>@movie.Price</td>
                <td>
                    <a asp-action="EditMovie" asp-route-id="@movie.Id">Редагувати</a> |
                    <a asp-action="DeleteMovie" asp-route-id="@movie.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
